<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Component</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
        }

        #app {
            text-align: center;
            width: 200px;
        }
    </style>
</head>

<body>
    <div id="app">
        <button @click="show1=true">전역 컴포넌트 등록</button>
        <!--전역 컴포넌트 표시  -->
        <Gcom1 v-if="show1"></Gcom1>
        <hr />
        <button @click="show2=true">지역 컴포넌트 등록</button>
        <!-- 열고닫는것을 축약으로 쓰니 에러나네? <Gcom1/>:에러남 -->
        <!-- 지역 컴포넌트 표시 -->
        <div v-if="show2">
            <Lcom1></Lcom1>
            <Lcom1></Lcom1>
        </div>
    </div>
    <script>
        const { createApp, ref } = Vue
        // 전역컴포넌트 등록 vue3에서 문법이 달라짐
        const Lcom1 = { template: `<div>지역 컴포넌트 등록</div>` }

        createApp({
            setup() {
                const show1 = ref(false)
                const show2 = ref(false)
                return {
                    show1, show2
                }
            },
            components: {
                Lcom1
            }
        })
            .component('Gcom1', {
                template: '<div>전역 컴포넌트 등록</div>'
            })
            .mount('#app')
    </script>
</body>

</html>